SECRET_KEY=
HMAC_MASTER_KEY=
OTP_SECRET_KEY=
DEBUG=true
DJANGO_SETTINGS_MODULE=src.config.settings
LOG_LEVEL=INFO
TIME_ZONE=Europe/Kyiv

BASE_URL=http://localhost:8001
BASE_FRONTEND_URL=http://localhost:3000
ALLOWED_HOSTS=127.0.0.1,localhost,api.urbanaut.club,host.docker.internal,0.0.0.0
CORS_ALLOWED_ORIGINS=http://localhost:8000,https://urbanaut.club
CORS_ALLOW_ALL_ORIGINS=False
CSRF_TRUSTED_ORIGINS=https://localhost:8000

CREATE_SUPERUSER=true
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=

DB_ENGINE=django.contrib.gis.db.backends.postgis
DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=

POSTGRES_DB="${DB_NAME}"
POSTGRES_USER="${DB_USER}"
POSTGRES_PASSWORD="${DB_PASSWORD}"

REDIS_HOST=localhost
REDIS_PORT=6379

ELASTICSEARCH_HOST=localhost
ELASTICSEARCH_PORT=9200

OLLAMA_HOST=http://localhost:11434

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_GEMINI_API_KEY=
GOOGLE_EMAIL_HOST_USER=
GOOGLE_EMAIL_HOST_PASSWORD=

TELEGRAM_BOT_TOKEN=

ONESIGNAL_APP_ID=
ONESIGNAL_API_KEY=